crawl4ai
openai
neo4j>=5.11
gradio
networkx
python-dotenv
pyyaml
python-json-logger
pillow
requests
hydra-core
pydantic
pydantic-ai
pydantic-settings
chromadb==1.0.7
neo4j-graphrag
langchain
langchain_openai
langchain_experimental
bm25s
pystemmer
jax[cpu]